body {
    background-color:darkred ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 100%;
}
a {
    color: black;
}
a:hover {
    color: slategray;
}
#container {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

header {
    font-size: 60px;
    text-align: center;
    color:brown;
    text-shadow: 2px 2px 2px black;
}
nav {
    text-align: center;
    background-color: black;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 0 20px;
}
nav a:hover {
    color:darkgrey;
    text-decoration: none;
}
main{
    background-color: tan;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
main h2{
    font-size: 35px;
    text-align: center;
    color: brown;
    text-shadow: 2px 2px 2px black;
}
img{
    border: 2px solid black;
    border-radius:20px;
    width: 75;
}
footer{
    background-color:tan;
    border: 2px solid black;
    padding: 40px 0;
    text-align: center;
    color: black;
}